*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/libs
*.keystore
**/.iml
!gradle/wrapper/gradle-wrapper.jar
/build-logic/build
/out
/reports
/tmp
/coverage.html
.settings/

.idea/modules
Thumbs.db
.gradle
.idea
.kotlin